
.form{
  display:flex;
  flex-direction:column;
  padding:2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 300px;
  background-color: #fbf3f3;
  border-radius: 10px;
  color:black;
  
  

}
.form div {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 0.5rem;
 }
 .form button{
   background-color:rgb(93, 93, 245);
   color:white;
   border-radius:5px;
   cursor:pointer;
 }

 .addedexpense{
   height: 300px; /* Set a fixed height for vertical scrolling */
   overflow-y: auto; /* Enable vertical scrolling */
  
 }
 .addedexpense h3{
   position:fixed;
 }
 .addedexpense h2{
   position:fixed;
   top:26rem;
   
 }
 .premium{
   background-color:blueviolet;
   color:white;
   position:fixed;
   right:5rem;
   bottom:6.5rem;
   font-size:20px;
   border-radius:5px;
   cursor:pointer;
 }
 
 .expenses button{
  
   background-color:blueviolet;
   color:white;
   border-radius:3px;
   margin-top:10px;
   margin-left:5px;
   cursor:pointer;
 }

.light {
   background-color: white;
   color: black;
}

.dark {

   background-color: rgb(71, 60, 62);
   color:white;
}





/*
.form{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   padding:2rem;
   margin:2rem auto;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
   width: 300px;
   background-color: #f9f9f9;
   border-radius: 10px;
   position:absolute;
   top:6rem;
   left:10rem;
   color:black;

}
.form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .form button{
    background-color:rgb(93, 93, 245);
    color:white;
    border-radius:5px;
    cursor:pointer;
  }

  .addedexpense{
    position:fixed;
    top:7rem;
    left:40rem;
    height: 300px;   
    overflow-y: auto;  
   
  }
  .addedexpense h3{
    position:fixed;
  }
  .addedexpense h2{
    position:fixed;
    top:26rem;
    
  }
  .premium{
    background-color:blueviolet;
    color:white;
    position:fixed;
    right:5rem;
    bottom:6.5rem;
    font-size:20px;
    border-radius:5px;
    cursor:pointer;
  }
  
  
  
  
  .expenses button{
   
    background-color:blueviolet;
    color:white;
    border-radius:3px;
    margin-top:10px;
    margin-left:5px;
    cursor:pointer;
  }

.light {
    background-color: white;
    color: black;
}

.dark {
    padding:24%;
    background-color: rgb(71, 60, 62);
    color:white;
}

*/