.page{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid black;
    padding:15px;
}
.complete{
    position:absolute;
 
    left:48rem;
    
}
.complete button{
    border:none;
    color:blue;
}
.contact{
    display:flex;
    justify-content:space-between;
    margin-right:5px;
    margin-left:20rem;
}
.contact button{
    color:red;
    border-color:red;
    border-radius:5px;
}
.name{
    display:flex;
    gap:22px;
    margin-left:22rem;
    padding-bottom:50px;
    border-bottom:1px solid black;
}
.name img{
    width:20px;
    height:20px;
}
.name button{
    color:green;
    border-radius:5px;
}