

.authform{
    
    width: 20rem;
    height:16rem;
    background-color: white;
    text-align:center;
    border:1px solid black;
    background-color: rgb(82, 181, 181);
}
.authform button{
    width:170px;
    border-radius:10px;
    background-color: rgb(85, 85, 244);
    color:white;
    border:none;
    padding:4px;
    
}
.signupbutton{
    width:20rem;
    height:2rem;
    margin:2rem auto;
    

    background-color: rgb(82, 181, 181);
    border:1px solid black;
}

/*
.button{
    text-align:center;
    position:absolute;
   
    top:26rem;
    width:16rem;
    background-color: rgb(126, 189, 126);
    border:1px solid black;
    padding:4px;
    
}
*/