
.form{
 position:absolute;
 top:8rem;
 left:26rem;
 padding:1rem;
 background-color:aqua;
 text-align:center;
 
 height:12rem;

}
form button{
    background-color:blueviolet;
    color:white;
    border-radius:4px;
}